* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background: #fff;
    font: 17px/23px 'open_sansregular';
    color: #707070;
}
input, textarea, select {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    -webkit-appearance: none;
    background: #fff;
}
img {
    display: block;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
#wrapper {
    max-width: 1350px;
    margin: 0 auto;
}
.holder {
    max-width: 1100px;
    margin: 0 auto;
}
#header {
    overflow: hidden;
}
.topbar {
    overflow: hidden;
    background: #165068;
    color:#fff;
    padding: 10px 0;
}
.head-bottom {
    overflow: hidden;
    padding: 20px 0;
}
.head-bottom .logo {
    float: left;
    width: 150px;
    height: 98px;
}
.head-bottom .main-menu {
    float: right;
    width: 70%;
}
.main-menu ul {
    list-style: none;
    text-align: right;
    overflow:hidden;
    padding: 30px 0 0;
}
.main-menu ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 30px;
}
.main-menu ul li a {
    color: #2a2a2a;
    text-decoration: none;
}
.search-area {
    overflow: hidden;
    background: #f3f3f3;
    padding: 10px 0;
    text-align: center;
}
.search-area .input-wrap {
    display: inline-block;
    vertical-align: top;
    width: 23.5%;
    margin: 0 20px 0 0;
}
.search-area .input-wrap select {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
}
.search-area .btn-submit {
    background: #3ba3bf;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    text-align: center;
    border:none;
    cursor: pointer;
    font-weight: bold;
}
.section-head {
    font-size: 22px;
    line-height: 27px;
    padding: 0 0 15px;
    border-bottom: 1px solid #d7d7d7;
    margin: 0 0 30px;
    color: #2a2a2a;
}
#services {
    padding: 100px 0 0;
    margin: 0 0 100px;
}
#services .boxes {overflow: hidden;}
#services .boxes .box {
    float: left;
    width: 30%;
    margin: 0 0 0 30px;
}
#services .boxes .box:first-child {margin: 0;}
#services .boxes .box img {
    float: left;
    width: 20%;
}
#services .boxes .box .text-area {
    float: left;
    width: 80%;
    padding: 0 0 0 15px;
}
#services .text-area h3 {
    color: #2a2a2a;
    border-bottom: 1px solid #d7d7d7;
    padding: 0 0 15px;
    margin: 0 0 15px;
}
#services .boxes .box .text-area p{ margin:0 0 20px; }
#services .boxes .box .text-area a{
    text-decoration: none;
    color: #8e555d;
}
#resource {
    overflow: hidden;
    margin: 0 0 50px;
}
#resource ul {
    padding: 50px 0 0;
    list-style: none;
    width: 103%;
}
#resource ul li {
    float: left;
    width: 23%;
    margin: 0 2% 30px 0;
    position: relative;
}
#resource ul li .link-download {
    display: block;
    position: absolute;
    width: 100px;
    bottom: 10px;
    right: 20px;
    left: auto;
    color: #fff;
    background: #8e555d;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 2px;
}
#contact {
    background: #f3f3f3;
    padding: 30px 0;
}
#contact .boxes {overflow: hidden;}
#contact .boxes .box {
    float: left;
    width: 28%;
    margin: 0 0 0 8%;
}
#contact .box ul li {
    overflow: hidden;
    margin: 0 0 10px;
}
#contact .boxes .box:first-child {margin: 0;}
#contact .boxes .box h3 {
    font-size: 18px;
    line-height: 23px;
    color: #2a2a2a;
    margin: 0 0 30px;
}
#contact .box p {margin: 0 0 30px}
#contact .box address, #contact .box .phone {
    margin: 0 0 10px;
    display: block;
    font-style: normal;
}
#contact ul {
    list-style: none;
}
#contact > ul > li {
    overflow: hidden;
    margin: 0 0 10px;
}
#contact ul li img {
    float: left;
    width: 25%;
    border: 1px solid #000;
}
#contact ul li .text-area {
    float: left;
    width: 75%;
    padding: 0 0 0 20px;
    margin: 0 0 20px;
}
#contact ul li .text-area span { display: block;}
#contact ul li ul li {
    float: left;
    margin: 0 0 0 10px;
}
#contact ul li ul li:first-child {margin: 0}
#contact .text-area a, .contact .text-area span {
    display: block;
    margin: 0 0 3px;
}
#contact button {
    background: #134f67;
    color: #fff;
    border-radius: 2px;
    border: none;
    padding: 2px 20px;
}
#app {
    background: url("../images/img4.jpg") no-repeat;
    min-height: 590px;
    text-align: center;
    color: #fff;
    padding: 50px 0 0;
}
#app h3 {
    text-transform: uppercase;
    margin: 0 0 20px;
    font-size: 35px;
    line-height: 40px;
}
#app h4 {
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
    margin: 0 0 30px;
}
#app ul {
    overflow: hidden;
    list-style: none;
    margin: 0 0 50px;
}
#app ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px 0 0;
}
#app .mobile-img { margin: 0 auto;}
.reset-wrap {
    background: url("../images/bg-reset.jpg") no-repeat;
    padding: 100px 0 0;
}
.reset-wrap .reset-inner {
    overflow: hidden;
    max-width: 350px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px 1px #8d545c;
    box-shadow: 0 0 10px 1px #8d545c;
    padding: 20px;
}
.reset-inner h2 {
    display: block;
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 20px;
    text-align: center;
}
.reset-inner .input-wrap {margin: 0 0 25px;}
.reset-inner input[type=password] {
    width: 100%;
    border: 1px solid #d7d7d7;
    padding: 0 10px;
    height: 50px;
    border-radius: 5px;
}
.reset-inner input[type=submit] {
    width: 150px;
    color: #fff;
    border: none;
    text-align: center;
    background: #8d545c;
    padding: 10px 0;
    margin: 0 0 20px;
    border-radius: 5px;
    cursor: pointer;
}
.reset-inner .main-logo {margin: 0 auto;}
#footer {
    background: #8d545c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.Direction {
	float:right;
	display:inline-block;
}

@media screen and (max-width: 1023px){
    .holder {padding: 0 10px;}
    .map img {
        width:100%;
        height:auto;
    }
    #resource ul li {width: 31%}
    #resource ul li .link-download {right:10px;}
    #resource ul li img {
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 767px){
    .topbar {
        font-size: 15px;
        text-align: center;
    }
    .head-bottom .logo, .head-bottom .main-menu {
        float: none;
        margin: 0 auto;
    }
    .head-bottom .main-menu {
        width: 100%;
        text-align: center;
    }
    .main-menu ul {text-align: center;}
    .main-menu ul li {
        margin: 0 0 0 15px;
        font-size: 14px;
    }
    .main-menu ul li:first-child {margin: 0}
    .search-area .input-wrap {
        width: 90%;
        margin: 0 auto 25px;
    }
    #services {margin: 0 0 50px;}
    #services .boxes .box, #services .boxes .box:first-child {
        width: 90%;
        margin: 0 0 30px;
    }
    #services .boxes .box .text-area p {margin: 0 0 10px;}
    #resource ul li {width : 95% }
    #contact .boxes .box, #contact .boxes .box:first-child {
        width: 95%;
        margin: 0 0 30px;
    }
    #contact .box p {margin: 0 0 10px;}
    #contact .boxes .box h3 {margin: 0 0 15px;}
    #app h3 {font-size: 23px;}
    #app ul li {margin: 0 0 30px;}
    #app .mobile-img {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }
    #resource ul {width: 100%;}
    #footer p {font-size: 16px; }
}