* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background: #fff;
    font: 17px/23px 'open_sansregular';
    color: #707070;
}
input, textarea, select {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    -webkit-appearance: none;
    background: #fff;
}
img {
    display: block;
	max-width:100%;
	height:auto;
}
p {
	margin:0 0 10px 0;
}
.clear {
	line-height:0;
	font-size:0;
	clear:both;
	height:0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
	margin-bottom:20px;
}
.holder {
    max-width: 1100px;
	width:100%;
    margin: 0 auto;
}
#header {
    overflow: hidden;
}
.topbar {
    overflow: hidden;
    background:#8e555d;
    color:#fff;
    padding: 5px 0;
    font-size: 12px;
	text-align:right;
	line-height:30px;
}
.topbar a,
.fb_iframe_widget_fluid {
	display:inline-block !important;
	width:auto !important;
	vertical-align:top;
	margin:0 3px;
}
.head-bottom {
    padding: 10px 0;
	border-bottom:solid 2px #8e555d;
}
.read-more {
	color:#8e555d;
	text-decoration:none;
	margin-bottom:20px;
	display:inline-block;
}
.read-more:hover {
	color:#000;
}
.head-bottom .holder,
#footer .holder,
#Disclaimer .holder {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.head-bottom .logo {
    margin: 0 auto 0 0;
	/* Avoid overflowing wide custom logo in small screens in Firefox and IEs */
	max-width: 306px;
	width:100%;
	min-width: 0;
	overflow: hidden;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome, if Chrome rule needed 
    .someClass {
     	color:#c00;
    }*/
    /* Safari 5+ ONLY */
    ::i-block-chrome, .head-bottom .logo {
		float:left;
		height:70px;
    }
	
	::i-block-chrome, .head-bottom .topnav {
		float:right;
		margin-top:17px;
	}
}

.head-bottom .topnav {
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
}

.Right {
	float:right;
	margin-left:15px;
	margin-bottom:15px;
}

.topnav {
  overflow: hidden;
}

.topnav .icon {
  display: none;
}

.topnav .icon a {
	font-size:0;
	background: url(../images/menuicon.png) no-repeat left top;
	width:38px;
	height:33px;
	display:inline-block;
}

.topnav ul {
    list-style: none;
}
.topnav ul li {
    display: inline-block;
    vertical-align: middle;
	margin-right:10px;
	padding-right:10px;
	border-right:solid 1px #8e555d;
	font-size:14px;
	line-height:14px;
}
.topnav ul li a {
  color: #2a2a2a;
  text-decoration: none;
  outline:none;
}
.topnav ul li:last-child,
.topnav ul li:nth-last-child(2) {
	border-right:none;
	padding-right:0;
	margin-right:0;
}
.topnav ul li a:hover, .topnav ul li.active a {
	color:#8e555d;
}
.search-area {
    overflow: hidden;
    background: #f3f3f3;
    padding: 20px 0;
    text-align: center;
}
.search-area .input-wrap {
    display: inline-block;
    vertical-align: top;
    width: 23.5%;
    margin: 0 20px 0 0;
}
.search-area .input-wrap select {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
}
.search-area .btn-submit {
    background: #8e555d;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    text-align: center;
    border:none;
    cursor: pointer;
    font-weight: bold;
}
.search-area .btn-submit:hover {
	background:#ab7783;
	}
.section-head {
    font-size: 22px;
    line-height: 26px;
    padding: 0 0 10px;
    border-bottom: 1px solid #d7d7d7;
	text-transform:uppercase;
    margin: 0 0 20px;
    color: #2a2a2a;
}
#services,
#resource,
#faq,
#contact {
	padding:30px 0;
}
#services .boxes {
	overflow: hidden;
	padding:30px;
}
#services .boxes .box {
    width: 100%;
    margin: 0 0 30px 0;
}
#services .boxes .box img {
    float: left;
    width: 20%;
}
#services .boxes .box .text-area {
    float: left;
    width: 80%;
    padding: 0 0 0 15px;
}
#services .text-area h3 {
    color: #2a2a2a;
    margin-bottom:20px;
}
#services .boxes .box .text-area a{
    text-decoration: none;
    color: #8e555d;
}
#resource ul {
    padding: 50px 0 0;
    list-style: none;
	font-size:0;
}
#resource ul li {
	display:inline-block;
    width: 23%;
    margin: 0 1% 20px 1%;
    position: relative;
}
#resource ul li .link-download {
    display: block;
    position: absolute;
    width: 100px;
    bottom: 10px;
    right: 20px;
    left: auto;
    color: #fff;
    background: #8e555d;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 2px;
	font-size:16px;
}
.accordion {
	padding:30px;
}
.accordion ul {
    list-style:none;
    margin:0;
    padding:0;    
}
.accordion li {
    margin:0;
    padding:0;
}
.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
.accordion label {
    display:block;
    line-height:16px;
	font-size:18px;
    background:#fff;
    border:1px solid #542437;
    color:#8d545c;
    font-weight:bold;
    cursor:pointer;
    text-transform:uppercase;
}
.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    background:#8d545c;
    color:#FFF;
}
.accordion .content {
    padding:0 20px;
    overflow:hidden;
    border:1px solid #fff;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}
.accordion .content .paddingBox {
	padding:20px 0;
}
.accordion p {
    color:#333;
    margin:0 0 10px;
}
.accordion h3 {
    color:#542437;
    padding:0;
    margin:10px 0;
}

.vertical ul li {
    overflow:hidden;
    margin:0 0 5px;
}
.vertical ul li label {
    padding:20px;
}
.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom:0;
}
.vertical ul li label:hover {
    border:1px solid #542437;
}
.vertical ul li .content {
    height:0px;
    border-top:0;
    transition: all .5s ease-out;
}
.vertical [type=checkbox]:checked ~ label ~ .content {
    height:200px;
    border:1px solid #542437;
	overflow-y: auto;
}

#contact .LeftBox {
	float:left;
	width:45%;
}

#contact .LeftBox .inputbox {
    width: 44%;
    float: left;
    margin-right: 25px;
    background: url(../images/bg-shadow-input.png) no-repeat right bottom;
    padding-bottom: 8px;
}

#contact .LeftBox .inputbox label {
	display:block;
	margin-bottom:5px;
}

#contact .LeftBox .inputbox input {
    line-height: 32px;
	width:100%;
    height: 32px;
    border: solid 1px #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #212121;
    padding:0 0.5278em;
}

#contact .LeftBox .inputbox.message {
    float: none;
	width:93%;
    margin-right: 0;
    margin-bottom: 3px;
    background: url(../images/bg-shadow-message.png) no-repeat right bottom;
    padding-bottom: 8px;
    height: auto;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome, if Chrome rule needed */
     #contact .LeftBox .inputbox.message {
     	padding-bottom: 3px;
    }
    /* Safari 5+ ONLY */
    ::i-block-chrome, #contact .LeftBox .inputbox.message {
     padding-bottom: 3px;
    }
}

#contact .LeftBox .inputbox.message textarea {
    border: solid 1px #999999;
    height: 138px;
	width:100%;
	padding: 0.5278em;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #212121;
}

#contact .LeftBox .inputbox.last {
    margin-right: 0;
}

#contact .LeftBox input[type="submit"] {
    background-color:#8e555d;
    line-height:44px;
	cursor:pointer;
    text-align: center;
    padding: 0 25px;
    font-size: 20px;
    color: #ffffff;
    font-weight: normal;
    border-radius: 8px;
    text-transform:uppercase;
}
#contact .LeftBox input[type="submit"]:hover {
	background-color:#ab7783;
}

#contact .RightBox {
	float:right;
	width:45%;
}

#contact .RightBox .address {
    background: url(../images/icon-address.png) no-repeat left 2px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #212121;
    margin-bottom: 8px;
	line-height:40px;
}

#contact .RightBox .email {
    background: url(../images/icon-email.png) no-repeat 4px 2px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 10px;
}

#contact .RightBox h3 {
	margin-bottom:10px;
}

#contact .RightBox .box {
	margin-bottom:20px;
}

#contact .RightBox a {
	color:#8e555d;
	text-decoration:none;
}

#contact .RightBox a:hover {
	text-decoration:underline;
}
 
#contact .socialLink a {
	display:inline-block;
	margin:0 5px;
	text-decoration:none;
	width:50px;
	height:50px;
}

#contact .socialLink a.facebook {
	background: url("../images/facebook-logo.png") no-repeat left top;
}
#contact .socialLink a.twitter {
	background: url("../images/twitter-logo.png") no-repeat left top;
}
#contact .socialLink a.insta {
	background: url("../images/instagram-logo.png") no-repeat left top;
}

#contact .socialLink a:hover {
	background-position:bottom;
}

#app {
    background: url("../images/img4.jpg") no-repeat;
    min-height: 590px;
    padding: 50px 0 0;
	color:#fff;
	text-align:center;
}
#app h3 {
    text-transform: uppercase;
    margin: 0 0 20px;
    font-size: 35px;
    line-height: 40px;
}

#Disclaimer {
	padding-bottom:20px;
}

#Disclaimer p {
	margin-right:auto;
	max-width:700px;
}

#Disclaimer img {
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
	display:inline-block;
	max-width:150px;
}

#app h4 {
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
    margin: 0 0 30px;
}
#app ul {
    overflow: hidden;
    list-style: none;
    margin: 0 0 50px;
}
#app ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0 30px 0 0;
}
#app .mobile-img { margin: 0 auto;}
.reset-wrap {
    background: url("../images/bg-reset.jpg") no-repeat;
    padding: 100px 0 0;
}

#footer {
    background: #8d545c;
    color: #fff;
    text-align: center;
    padding: 10px 0;
	font-size:12px;
}
#footer ul {
    margin-right:auto;
	list-style:none;
}
#footer ul li {
	display:inline-block;
	list-style:none;
	border-left:dashed 1px #fff;
	padding-left:5px;
	margin-left:5px;
	line-height:15px;
}
#footer ul li:first-child {
	padding-left:0;
	border-left:none;
}
#footer ul li a {
	color:#fff;
	text-decoration:none;
}
#footer ul li a:hover,
#footer ul li.active a {
	color:#a4a4a5;
}

#footer .copyright {
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
	margin:0 auto 0 auto;
}

.contact-msg {
	color: green;
    display: block;
    text-transform: capitalize;
}

#footer .copyright a {
	color:#fff;
	text-decoration:none;
}

.Direction {
	float:right;
	display:inline-block;
}

.NewsBox {
	margin-bottom:40px;
}

/*----- Responsive -----*/

@media screen and (max-width: 1090px){
	.holder {padding: 0 20px;}
}

@media screen and (max-width: 1023px){
    #contact .LeftBox .inputbox {
		width:43%;
	}
}

@media screen and (max-width: 979px){
	.head-bottom .logo {
		margin:0 auto;
	}
	
	.head-bottom .topnav {
		width:100%;
		text-align:center;
	}
	
	#Disclaimer p {
		max-width:63%;
	}
	
}

@media screen and (max-width: 767px){
	.topbar {
		font-size: 15px;
		text-align: center;
	}
	
	.head-bottom .logo {
		margin:0 auto;
	}
	
	.head-bottom .topnav {
		width:100%;
	}
	
	.topnav ul li {display: none;}
	
	.topnav li.icon {
		float: right;
		display: block;
	}	
	
	.topnav.responsive {position: relative;}
	
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: -15px;
	}
	.topnav.responsive li {
		float: none;
		display: block;
		line-height:30px;
		text-align: left;
		border-right:none;
		border-bottom:1px solid #8e555d;
	}
	
	.topnav.responsive ul li:last-child,
	.topnav.responsive ul li:nth-last-child(2) {
		border-bottom:none;
	}
	
	.search-area .input-wrap {
		width: 90%;
		margin: 0 auto 25px;
	}
	#services {margin: 0 0 50px;}
	#services .boxes .box, #services .boxes .box:first-child {
		width: 90%;
		margin: 0 0 30px;
	}
	#services .boxes .box .text-area p {margin: 0 0 10px;}
	#contact .boxes .box, #contact .boxes .box:first-child {
		width: 95%;
		margin: 0 0 30px;
	}
	#contact .box p {margin: 0 0 10px;}
	#contact .boxes .box h3 {margin: 0 0 15px;}
	#app h3 {font-size: 23px;}
	#app ul li {margin: 0 0 30px;}
	#app .mobile-img {
		width: 100%;
		margin: 0 auto;
		height: auto;
	}
	#resource ul li {width: 48%;}
    #resource ul li .link-download {right:10px;}
    #resource ul li img {
        width: 100%;
        height: auto;
    }
	
	#contact .LeftBox,
	#contact .RightBox {
		float:none;
		width:100%;
		margin-bottom:20px;
	}
}

@media screen and (max-width: 639px){
	#Disclaimer p {
		max-width:100%;
	}
	
	#Disclaimer img {
		margin:0 auto;
		display:block;
	}
		
	.accordion {
		font-size: 14px;
		line-height: normal;
		padding: 10px;
	}
	
	.vertical ul li label {
		padding: 15px;
		font-size:14px;
	}
}

@media screen and (max-width: 479px){
	#app h3 {
		font-size: 16px;
	}
	
	#app ul li {
		margin: 0 0 5px 0;
	}
	
	#Disclaimer {
    	padding: 20px 0;
	}
	
	#footer ul {
		margin-left:auto;
	}
	
	#footer .copyright {
		text-align:center;
		width:100%;
	}
	
	#services .boxes {
		padding-left:0;
		padding-right:0;
	}
	
	#resource ul li {width: 98%;}
	
	#contact .LeftBox .inputbox,
	#contact .LeftBox .inputbox.message {
		width:100%;
		margin-right:0;
	}
}